#nav-todo p {
  margin: 5px;
}

body {
  background-image: url(../../images/background.jpg);
  background-repeat: repeat;
}

.container {
  width: 90%;
  background-color: white;
  border-radius: 15px;
}

.container .trackertitle {
  text-align: center;
}

#nav-tab {
  justify-content: center;
}

.tabs span {
  vertical-align: middle;
  padding-right: 5px;
}

.listcontainer {
  padding: 1rem;
}

.container .material-icons {
  font-size: 24px;
}

.footer {
  height: 200px;
}

.nav-pills .nav-link.active {
  background-color: rgba(13, 110, 253, 0.75) !important;
}

.itemcard {
  background-color: rgba(13, 110, 253, 0.20);
  border-radius: 10px;
  padding: 5px;
}

.itemcard h4 {
  background-color: white;
  border-radius: 5px;
  padding: 7px;
}

.itemcard span {

  font-size: 14px;
}

.itemcard button {
  border-style: none;
  background-color: transparent;
  color: ;
}

.itemcard i {
  font-size: 48px;
}