#bottom-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#bottom-nav li {
    text-align: center;
    padding: 0 1em 0 1em;
}

.material-icons {
    color: darkgrey;
    font-size: 30pt;
}

.nav-pills a.nav-link.active {
    background-color: cornflowerblue;
}